footer.footer 
    .container 
        .footer__info 
            .footer__info-left
                img.footer__logo(src="images/rubyHome-logo.webp", alt="")
                p.footer__Left-desc Contrary to popular  is not simply random text. It has 
                .footer__left-icons 
                    a(href="https://www.facebook.com/").footer__left-link
                        img(src="images/facebook.svg", alt="")
                    a(href="https://www.youtube.com/channel/UCEHzjnArYcax4cYQyq3gizA").footer__left-link
                        img(src="images/instagramm.svg", alt="")
                    a(href="").footer__left-link
                        img(src="images/twitter.svg", alt="")
                    a(href="").footer__left-link
                        img(src="images/youtube.svg", alt="")
                    a(href="").footer__left-link
                        img(src="images/in.svg", alt="")
            .footer__centerOne 
                h3.footer__centerOne-h3 About
                ul.footer__centerOne-list
                    li.footer__list-link
                        a(href="").footer__cenone-link Company            
                    li.footer__list-link
                        a(href="").footer__cenone-link Team
                    li.footer__list-link
                        a(href="").footer__cenone-link Career
                    li.footer__list-link
                        a(href="").footer__cenone-link Blogs
            .footer__centerTwo
                h3.footer__centerTwo-h3 Products
                ul.footer__centerTwo-list 
                    li.footer__list-link
                        a(href="").footer__centwo-link E-Books            
                    li.footer__list-link
                        a(href="").footer__centwo-link Preasantation
                    li.footer__list-link
                        a(href="").footer__centwo-link Management
                    li.footer__list-link
                        a(href="").footer__centwo-link Dashboard
            .footer__info-right 
                h3.footer__right-h3 Address
                ul.footer__right-list 
                    li.footer__list-link
                        a(href="").footer__right-link Country Delevery  
                    li.footer__list-link
                        a(href="").footer__right-link Counter Beach Post
                    li.footer__list-link
                        a(href="").footer__right-link www.itobd.com
                    li.footer__list-link
                        a(href="").footer__right-link +880176565655                   
                    
                                         