.progress
   .progress__filling
header.header
   .container
      .header__nav
         img(src="images/rubyHome-logo.webp", alt="").header__nav-logo
         .header__nav-links
            ul.header__nav-list
               li.header__nav-link
                  a(href="").header__nav-href Home
               li.header__nav-link 
                  a(href="").header__nav-href Properties
               li.header__nav-link
                  a(href="").header__nav-href About us
               li.header__nav-link
                  a(href="").header__nav-href Blog
            button.header__nav-button Contact us
      .header__content 
         .header__content-left 
            h1.header__content-h1 Find the perfect place to stay with your family
            p.header__content-disc Buying a home is a life-changing experience, so shouldn’t your real estate agent be a life changer.
            .header__content-PriceBox
               .header__content-ListBox
                  ul.header__content-list 
                     li(data-num="0").header__content-link.active Buy
                     li(data-num="1").header__content-link Rent
                     li(data-num="2").header__content-link Sell
               .header__content-Buy.active
                  .header__contentBuy-One 
                     a(href="").header__contentBuy-Location Location
                        img(src="images/bottom-img.svg", alt="").header__contentLoc-icon
                     p.header__contentBuy-locDesc Dhaka 
                  .header__Col-one
                  .header__contentBuy-Two
                     a(href="").header__contentBuy-Location Property type
                        img(src="images/bottom-img.svg", alt="").header__contentLoc-icon
                     p.header__contentBuy-locDesc Duplex
                  .header__Col-one 
                  .header__contentBuy-Three 
                     a(href="").header__contentBuy-Location Price
                        img(src="images/bottom-img.svg", alt="").header__contentLoc-icon
                     p.header__contentBuy-locDesc $4000-$8000 
                  button.header__content-Search Search
                     img(src="images/search.svg", alt="").header__content-searchImg
               .header__content-Buy 
                  .header__contentBuy-One 
                     a(href="").header__contentBuy-Location Location2
                        img(src="images/bottom-img.svg", alt="").header__contentLoc-icon
                     p.header__contentBuy-locDesc Dhaka 
                  .header__Col-one
                  .header__contentBuy-Two
                     a(href="").header__contentBuy-Location Property type
                        img(src="images/bottom-img.svg", alt="").header__contentLoc-icon
                     p.header__contentBuy-locDesc Duplex
                  .header__Col-one 
                  .header__contentBuy-Three 
                     a(href="").header__contentBuy-Location Price
                        img(src="images/bottom-img.svg", alt="").header__contentLoc-icon
                     p.header__contentBuy-locDesc $4000-$8000 
                  button.header__content-Search Search
                     img(src="images/search.svg", alt="").header__content-searchImg
               .header__content-Buy 
                  .header__contentBuy-One 
                     a(href="").header__contentBuy-Location Location3
                        img(src="images/bottom-img.svg", alt="").header__contentLoc-icon
                     p.header__contentBuy-locDesc Dhaka
                  .header__Col-one 
                  .header__contentBuy-Two
                     a(href="").header__contentBuy-Location Property type
                        img(src="images/bottom-img.svg", alt="").header__contentLoc-icon
                     p.header__contentBuy-locDesc Duplex
                  .header__Col-one 
                  .header__contentBuy-Three 
                     a(href="").header__contentBuy-Location Price
                        img(src="images/bottom-img.svg", alt="").header__contentLoc-icon
                     p.header__contentBuy-locDesc $4000-$8000 
                  button.header__content-Search Search
                     img(src="images/search.svg", alt="").header__content-searchImg
         img(src="images/header-img.webp", alt="").header__content-Img