.mainBtm 
  .mainBtm__info  
    .container
      .mainBtm__Info
        .mainBtm__info-Start
          h4.mainBtm__info-Title Property Featured
          p.mainBtm__info-disc Real estate is a crowded field. But with the number of buyers purchasing homes through real estate agents and brokers growing there’s plenty of 
        .mainBtm__Property 
          .mainBtm__Proper
            .mainBtm__Security
              img(src="images/property-1.webp", alt="").mainBtm__Security-icon
              h4.mainBtm__Security-h4 100% Security
              p.mainBtm__Security-desc For many of us, buying a home is a dre and one not easily attainable. 
            .mainBtm__Conditioner
              img(src="images/property-3.webp", alt="").mainBtm__Security-icon
              h4.mainBtm__Security-h4 Free air conditioner
              p.mainBtm__Security-desc For many of us, buying a home is a dre and one not easily attainable. 
            .mainBtm__FLower
              img(src="images/property-5.webp", alt="").mainBtm__Security-icon
              h4.mainBtm__Security-h4 Flower garden
              p.mainBtm__Security-desc For many of us, buying a home is a dre and one not easily attainable.
          img(src="images/main-img7.webp", alt="").mainBtm__Center-Img 
          .mainBtm__ProperTwo
            .mainBtm__Parkers
              img(src="images/property-2.webp", alt="").mainBtm__Security-icon
              h4.mainBtm__Security-h4 Parkers & movers
              p.mainBtm__Security-desc For many of us, buying a home is a dre and one not easily attainable. 
            .mainBtm__Rental
              img(src="images/property-4.webp", alt="").mainBtm__Security-icon
              h4.mainBtm__Security-h4 Rental furniture
              p.mainBtm__Security-desc For many of us, buying a home is a dre and one not easily attainable. 
            .mainBtm__Swimming
              img(src="images/property-6.webp", alt="").mainBtm__Security-icon
              h4.mainBtm__Security-h4 Swimming pool
              p.mainBtm__Security-desc For many of us, buying a home is a dre and one not easily attainable.
  .mainBtm__Center 
    .container 
      .mainBtm-Cen-Info
        .mainBtm__Center-start 
          a(href="").mainBtm__Center-link Reviews 
          h3.mainBtm__Center-h3 Our valuable customer says
        .mainBtm__CenSlid-Par 
          .mainBtm__Center-Slides.active
            .mainBtm__Center-Slide 
              .mainBtm__Slide-info 
                img(src="images/justin.webp", alt="") 
                .mainBtm__Slide-names 
                  h6.mainBtm__Slide-Title Justin Lee 
                  p.mainBtm__Slide-Desc Products Designer at Ito 
                img(src="images/Twoicon.webp", alt="").mainBtm__Slide-TwoIcon 
              p.mainBtm__Slides-disc A good real estate agent doesn’t disappear once the closing IN signed.Buying a bigger home doesn’t      necessarily mean spendi more money.Been there. Done that. Sold. Bought Bringing It All Together.
            .mainBtm__Center-Slide 
              .mainBtm__Slide-info 
                img(src="images/angel.webp", alt="").angel 
                .mainBtm__Slide-names 
                  h6.mainBtm__Slide-Title Angel Cathe 
                  p.mainBtm__Slide-Desc Products Designer at Ito 
                img(src="images/Twoicon.webp", alt="").mainBtm__Slide-TwoIcon 
              p.mainBtm__Slides-disc A good real estate agent doesn’t disappear once the closing IN signed.Buying a bigger home doesn’t necessarily mean spendi more money.Been there. Done that. Sold. Bought be Bringing It All Together there.
          .mainBtm__Center-Slides 
            .mainBtm__Center-Slide 
              .mainBtm__Slide-info 
                img(src="images/justin.webp", alt="") 
                .mainBtm__Slide-names 
                  h6.mainBtm__Slide-Title Justin Lee 2 
                  p.mainBtm__Slide-Desc Products Designer at Ito 
                img(src="images/Twoicon.webp", alt="").mainBtm__Slide-TwoIcon 
              p.mainBtm__Slides-disc A good real estate agent doesn’t disappear once the closing IN signed.Buying a bigger home doesn’t      necessarily mean spendi more money.Been there. Done that. Sold. Bought Bringing It All Together.
            .mainBtm__Center-Slide 
              .mainBtm__Slide-info 
                img(src="images/angel.webp", alt="").angel 
                .mainBtm__Slide-names 
                  h6.mainBtm__Slide-Title Angel Cathe 2
                  p.mainBtm__Slide-Desc Products Designer at Ito 
                img(src="images/Twoicon.webp", alt="").mainBtm__Slide-TwoIcon 
              p.mainBtm__Slides-disc A good real estate agent doesn’t disappear once the closing IN signed.Buying a bigger home doesn’t necessarily mean spendi more money.Been there. Done that. Sold. Bought be Bringing It All Together there.
          .mainBtm__Center-Slides  
            .mainBtm__Center-Slide 
              .mainBtm__Slide-info 
                img(src="images/justin.webp", alt="") 
                .mainBtm__Slide-names 
                  h6.mainBtm__Slide-Title Justin Lee 3
                  p.mainBtm__Slide-Desc Products Designer at Ito 
                img(src="images/Twoicon.webp", alt="").mainBtm__Slide-TwoIcon 
              p.mainBtm__Slides-disc A good real estate agent doesn’t disappear once the closing IN signed.Buying a bigger home doesn’t      necessarily mean spendi more money.Been there. Done that. Sold. Bought Bringing It All Together.
            .mainBtm__Center-Slide 
              .mainBtm__Slide-info 
                img(src="images/angel.webp", alt="").angel
                .mainBtm__Slide-names 
                  h6.mainBtm__Slide-Title Angel Cathe 3
                  p.mainBtm__Slide-Desc Products Designer at Ito 
                img(src="images/Twoicon.webp", alt="").mainBtm__Slide-TwoIcon 
              p.mainBtm__Slides-disc A good real estate agent doesn’t disappear once the closing IN signed.Buying a bigger home doesn’t necessarily mean spendi more money.Been there. Done that. Sold. Bought be Bringing It All Together there.
          .mainBtm__Center-Slides 
            .mainBtm__Center-Slide 
              .mainBtm__Slide-info 
                img(src="images/justin.webp", alt="") 
                .mainBtm__Slide-names 
                  h6.mainBtm__Slide-Title Justin Lee 4
                  p.mainBtm__Slide-Desc Products Designer at Ito 
                img(src="images/Twoicon.webp", alt="").mainBtm__Slide-TwoIcon 
              p.mainBtm__Slides-disc A good real estate agent doesn’t disappear once the closing IN signed.Buying a bigger home doesn’t      necessarily mean spendi more money.Been there. Done that. Sold. Bought Bringing It All Together.
            .mainBtm__Center-Slide 
              .mainBtm__Slide-info 
                img(src="images/angel.webp", alt="").angel 
                .mainBtm__Slide-names 
                  h6.mainBtm__Slide-Title Angel Cathe 4
                  p.mainBtm__Slide-Desc Products Designer at Ito 
                img(src="images/Twoicon.webp", alt="").mainBtm__Slide-TwoIcon 
              p.mainBtm__Slides-disc A good real estate agent doesn’t disappear once the closing IN signed.Buying a bigger home doesn’t necessarily mean spendi more money.Been there. Done that. Sold. Bought be Bringing It All Together there.
        ul.mainBtm__Cen-list
          li.mainBtm__Cen-link.active .
          li.mainBtm__Cen-link .
          li.mainBtm__Cen-link .
          li.mainBtm__Cen-link . 
        .mainBtm__CenB-Form 
          h3.mainBtm__CenB-h3 Get listed your home as  a owner
          p.mainBtm__CenB-desc Here is a list of the greatest real estate company slogans of all-time. These catchy slogans are followed by the Greatest Real Estate.
          form(action="").mainBtm-Form 
            input(type="text" placeholder="Enter email address").mainBtm__input
            button.mainBtm__formButton Subscribe
               