main.main 
   .container 
      .main__topSpon 
         h2.main__topSpon-h2 Our Partners
         .main__topSpon-Par 
            img.main__topSpon-Img(src="images/biotech.webp", alt="")
            img.main__topSpon-Img(src="images/express.webp", alt="")
            img.main__topSpon-Img(src="images/smilehome.webp", alt="")
            img.main__topSpon-Img(src="images/connect.webp", alt="")
            img.main__topSpon-Img(src="images/homebuild.webp", alt="")
      .main__topSell
         .main__topSell-top 
            h2.main__topSell-h2 Popular Properties
            a(href="").main__topSell-viewAll view all 
         .main__topHouses 
            .main__topHouse 
               img(src="images/main-img1.webp", alt="").main__topHouse-IMG
               .main__topHouse-Block
                  .main__topHouse-hearts 
                     h5.main__topHouse-h5 Capital hill residence
                     .main__topHouse-heart
                        img(src="images/grey-heart.webp", alt="").main__topHouse-GreyImg 
                        img(src="images/red-heart.webp", alt="").main__topHouse-RedImg.active
                  p.main__topHouse-disc East London
                     img(src="images/location.webp", alt="").main__topHouse-discImg
                  .main__topHouse-Icons 
                     p.main__topHouse-iconDisc 6
                        img(src="images/bed.webp", alt="").main__topHouse-Icon
                     p.main__topHouse-iconDisc 2
                        img(src="images/kitchen-img.webp", alt="").main__topHouse-Icon
                     p.main__topHouse-iconDisc 3
                        img(src="images/bathroom.webp", alt="").main__topHouse-Icon
                  .main__topHouse-links 
                     p.main__topHouse-linksDisc $5527.00
                     a(href="").main__topHouse-link View Details
            .main__topHouse 
               img(src="images/main-img2.webp", alt="").main__topHouse-IMG
               .main__topHouse-Block
                  .main__topHouse-hearts 
                     h5.main__topHouse-h5 Picket Fence Realty
                     .main__topHouse-heart
                        img(src="images/grey-heart.webp", alt="").main__topHouse-GreyImg 
                        img(src="images/red-heart.webp", alt="").main__topHouse-RedImg.active
                  p.main__topHouse-disc East London
                     img(src="images/location.webp", alt="").main__topHouse-discImg
                  .main__topHouse-Icons 
                     p.main__topHouse-iconDisc 6
                        img(src="images/bed.webp", alt="").main__topHouse-Icon
                     p.main__topHouse-iconDisc 2
                        img(src="images/kitchen-img.webp", alt="").main__topHouse-Icon
                     p.main__topHouse-iconDisc 3
                        img(src="images/bathroom.webp", alt="").main__topHouse-Icon
                  .main__topHouse-links 
                     p.main__topHouse-linksDisc $6727.00
                     a(href="").main__topHouse-link View Details
            .main__topHouse 
               img(src="images/main-img3.webp", alt="").main__topHouse-IMG
               .main__topHouse-Block
                  .main__topHouse-hearts 
                     h5.main__topHouse-h5 Banyon Tree Realty
                     .main__topHouse-heart
                        img(src="images/grey-heart.webp", alt="").main__topHouse-GreyImg 
                        img(src="images/red-heart.webp", alt="").main__topHouse-RedImg.active
                  p.main__topHouse-disc East London
                     img(src="images/location.webp", alt="").main__topHouse-discImg
                  .main__topHouse-Icons 
                     p.main__topHouse-iconDisc 6
                        img(src="images/bed.webp", alt="").main__topHouse-Icon
                     p.main__topHouse-iconDisc 2
                        img(src="images/kitchen-img.webp", alt="").main__topHouse-Icon
                     p.main__topHouse-iconDisc 3
                        img(src="images/bathroom.webp", alt="").main__topHouse-Icon
                  .main__topHouse-links 
                     p.main__topHouse-linksDisc $4327.00
                     a(href="").main__topHouse-link View Details
            .main__topHouse 
               img(src="images/main-img4.webp", alt="").main__topHouse-IMG
               .main__topHouse-Block
                  .main__topHouse-hearts 
                     h5.main__topHouse-h5 Corsair Real Estate
                     .main__topHouse-heart
                        img(src="images/grey-heart.webp", alt="").main__topHouse-GreyImg 
                        img(src="images/red-heart.webp", alt="").main__topHouse-RedImg.active
                  p.main__topHouse-disc East London
                     img(src="images/location.webp", alt="").main__topHouse-discImg
                  .main__topHouse-Icons 
                     p.main__topHouse-iconDisc 6
                        img(src="images/bed.webp", alt="").main__topHouse-Icon
                     p.main__topHouse-iconDisc 2
                        img(src="images/kitchen-img.webp", alt="").main__topHouse-Icon
                     p.main__topHouse-iconDisc 3
                        img(src="images/bathroom.webp", alt="").main__topHouse-Icon
                  .main__topHouse-links 
                     p.main__topHouse-linksDisc $4427.00
                     a(href="").main__topHouse-link View Details
            .main__topHouse 
               img(src="images/main-img5.webp", alt="").main__topHouse-IMG
               .main__topHouse-Block
                  .main__topHouse-hearts 
                     h5.main__topHouse-h5 Sequoia Real Estate
                     .main__topHouse-heart
                        img(src="images/grey-heart.webp", alt="").main__topHouse-GreyImg 
                        img(src="images/red-heart.webp", alt="").main__topHouse-RedImg.active
                  p.main__topHouse-disc East London
                     img(src="images/location.webp", alt="").main__topHouse-discImg
                  .main__topHouse-Icons 
                     p.main__topHouse-iconDisc 6
                        img(src="images/bed.webp", alt="").main__topHouse-Icon
                     p.main__topHouse-iconDisc 2
                        img(src="images/kitchen-img.webp", alt="").main__topHouse-Icon
                     p.main__topHouse-iconDisc 3
                        img(src="images/bathroom.webp", alt="").main__topHouse-Icon
                  .main__topHouse-links 
                     p.main__topHouse-linksDisc $4527.00
                     a(href="").main__topHouse-link View Details
            .main__topHouse 
               img(src="images/main-img6.webp", alt="").main__topHouse-IMG
               .main__topHouse-Block
                  .main__topHouse-hearts 
                     h5.main__topHouse-h5 Strive Partners Realty
                     .main__topHouse-heart
                        img(src="images/grey-heart.webp", alt="").main__topHouse-GreyImg
                        img(src="images/red-heart.webp", alt="").main__topHouse-RedImg.active
                  p.main__topHouse-disc East London
                     img(src="images/location.webp", alt="").main__topHouse-discImg
                  .main__topHouse-Icons 
                     p.main__topHouse-iconDisc 6
                        img(src="images/bed.webp", alt="").main__topHouse-Icon
                     p.main__topHouse-iconDisc 2
                        img(src="images/kitchen-img.webp", alt="").main__topHouse-Icon
                     p.main__topHouse-iconDisc 3
                        img(src="images/bathroom.webp", alt="").main__topHouse-Icon
                  .main__topHouse-links 
                     p.main__topHouse-linksDisc $5527.00
                     a(href="").main__topHouse-link View Details
                      
             
      
      